*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    outline: none;
}

*::selection{
    background-color: yellowgreen;
    color: white
}

body{
    font-family: 'Merriweather', serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url(./image/bgfit.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(52% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
}
nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}

nav .logo{
    font-size: 2rem;
    cursor: pointer;
}
nav .logo span{
    color: yellowgreen;
}

nav .links{
    padding-left: 0;
}

nav .links li{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
}

nav .links li a{
    color: #ffff;
}

.links .active{
    color: yellowgreen;
}

nav .links li a:hover{
    color: yellowgreen;
}

header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
header .content h1{
    font-size: 8rem;
    text-transform: uppercase;
    color: #ffff;
}

.btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 0.3rem solid yellowgreen;
    color: yellowgreen;
    margin-top: 1.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.btn:hover{
    background-color: yellowgreen;
    color: #ffff;
}

nav .open,.close{
    font-size: 1.8rem;
    cursor: pointer;
    color: yellowgreen;
    display: none;
}

@media(max-width:850px){
    nav .links{
        height: 25rem;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 1.2rem;
        background-color: #ffff;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }
    nav .links li{
        font-size: 1.8rem;
        margin: 0.5rem
    }
    nav .links li a{
        color: #000;
    }
    nav .open,nav .links .close{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
    }
    header .content h1{
        font-size: 6rem;
    }
}

.register{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(./image/bggitn.jpg);
    min-height: 100hv;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.register h1{
    font-size: 1.75rem;
    padding: 0.5rem;
    display: inline-block;
    color: yellowgreen;
    border-bottom: 0.3rem solid yellowgreen;
    margin-bottom: 2.2rem;
}

.register form{
    padding: 2% 6%;
    margin: 0 auto;
}

.register form .inputbox{
    display: flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register form .inputbox input{
    height: 3rem;
    width: 49%;
    background-color: transparent;
    color: #ddd;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    border: 2px solid #ddd;
}
@media (max-width:1100px){
    .register form .inputbox input{
        width: 100%;
    }
}

footer{
    color: #ffff;
    padding: 2rem;
    text-align: center;
    background-color: #333;
    font-size: 1.8rem;
}